@tailwind base;
@tailwind components;
@tailwind utilities;



/* src/SearchDropdown.css */
.search-container {
  position: relative;

}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: none;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(73, 73, 73, 0.5);
  
}


